<!doctype html>
<html lang="en">
<!--用head.html部分-->
{% include head.html %}
<body>
<!--用header.html部分-->
	{% include header.html %}
	<div class="container">

	{% if page.id %}
	<p>
		<strong>{{ page.published | date: '%B %d, %Y' }}</strong> ( last updated : {{ page.date | date: '%B %d, %Y' }} )
		<br>
		{% for tag in page.tags %}
			<a class="label label-default" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
		{% endfor %}
    </p>
		{% endif %}
	<hr>

		<!--插入content部分-->
	{{ content }}



		<!--用disqus.html部分-->
	{% include disqus.html %}
	</div>
<!--用footer.html部分-->
	{% include footer.html %}
<!--用analytics.html部分-->
	{% include analytics.html %}
</body>
</html>
